<div class="content " class="bg">
  <div class="hoc clear">
    <h1 class="center">Đến với SAGOTA chúng ta có 4 ưu điểm sau:</h1>
    <div class="row" style="padding-top:50px">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-pencil"></i></span>

          <div class="info-box-content">
            <span class="info-box-number" style="color: #000000;">Ghi nhớ từ nhanh hơn</span>
          </div>
        </div>
        Học từ có hình ảnh, âm thanh sinh động
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-opera"></i></span>

          <div class="info-box-content">
            <span class="info-box-number" style="color: #000000;">Học toàn diện</span>
          </div>
        </div>
        Học về nghĩa, cách phát âm, sử dụng trong ngữ cảnh
      </div>
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-book"></i></span>

          <div class="info-box-content">
            <span class="info-box-number" style="color: #000000;">Ôn tập</span>
          </div>
        </div>
        Có bài tập mỗi topic để ôn tập lại
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-clock-o"></i></span>

          <div class="info-box-content">
            <span class="info-box-number" style="color: #000000;">Thuận tiện cho việc học</span>
          </div>
        </div>
        Dễ dàng học ở mọi nơi
      </div>
    </div>
    <div style="padding-top:50px">
      <div class="col-md-8">
        <h2>Bạn còn chờ gì nữa nào, nhanh tay đăng ký để tăng khả năng từ vựng của bạn cho kì thi Toeic nào</h2>
      </div>
      <div class="col-md-4">

        <div class="login-box">
          <td>
            <button  type="button" class="btn btn-block btn-warning btn-lg"><a href="register" style="color:navy"> Register</a></button>
          </td>
        </div>
      </div>
    </div>

  </div>
</div>
